.navMainDiv {
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: center;
    background-color: white;
}

.navText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    padding: 10px 0;
}

.navText > *{
    margin: 0;
    padding: 0;
}

.navTitle {
    font-family: 'RetromaVibesRegular';
    font-size: 2.5rem;
}

.navSubTitle {
    font-size: 1rem;
}