@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
color: black;
}

.pinkText {
color: rgb(255, 133, 153);
}

@font-face {
    font-family: 'RetromaVibesRegular';
    src: local('RetromaVibesRegular.ttf'), url('../fonts/RetromaVibesRegular.ttf') format('truetype');
}

* {
    transition: all 0.3s;
}